
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Macondo&display=swap');
/* Google fonys import */


/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Mocondo", cursive;
    --primary-color: #3a2620; /*dark brown*/
    --secondary-color: #aa9581; /* light brown*/
    --highlight-color:#416a8e; /* blue*/
    --highlight-color-light:#7a9fc2;/* light blue*/
}
/* Global styles*/
body {
    font-family: var(--primary-font);
}
h1, h2, h3 {
    font-family:var(--secondary-font) ;
    color: var(--primary-color);
}
.sub-heading-color {
    color:var(--highlight-color);
}