@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Macondo&display=swap');
/* Google fonts import */


/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620;
    /*dark brown*/
    --secondary-color: #aa9581;
    /* light brown*/
    --highlight-color: #416a8e;
    /* blue*/
    --highlight-color-light: #7a9fc2;
    /* light blue*/
}

/* Global styles*/
body {
    font-family: var(--primary-font);
    padding-top: 60px; /* push the top of the header down under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    padding-top: 4rem;
}

/* Button */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outlier {
    border: 3px solid var(--highlight-color);
    background-color: white;
    padding: 7px 25px;
    color:var(--primary-color);
}

.custom-button-outlier:hover {
    color: white;
    background-color: var(--highlight-color-light);

}

/* Navbar Elements */
.navbar {
    background-color: var(--primary-color);
}

.logo {
    width: 30px;
}

/* Header */
.lead {
    font-family: var(--secondary-font);
}

/* Services */
.card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

.card {
    margin-bottom: 1.5rem;
}
/*Events section */
.student {
  background-color: var(--highlight-color);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  display: inline-block;        /* This is key */
  text-align: center;
}

#event .table td, .table th {
  padding-left: 1rem;
  padding-right: 1rem;
}


/* game-library*/
.new-games,
.fav-games {
    border: none;
}

/*Footer / contact section */
footer {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

footer h2 {
    color: white;
}

footer sub-heading-color {
    color: var(--highlight-color-light);
}

footer i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-right: 15px;

}

footer .social-link * {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

footer .social-link:hover * {
    color: var(--secondary-color);
}

footer .table-dark * {
    background-color: transparent;
}

#contact {
    scroll-margin-top: 100px;
    /* Adjust based on navbar height */
}


/*Media queries*/

/*medium devices (tablets, 768px and up)*/
@media screen and (min-width:768px) {

    /* Make all service cards the same height for consistency*/
    .card-body {
        min-height: 190px;
    }

    /* game-library*/
    .new-games,
    .fav-games {
        min-height: 310px;
    }

   
}

/*large devices (small laptop, 992px and up)*/
@media screen and (min-width:992px) {

    /* Make all service cards the same height for consistency*/
    .card-body {
        min-height: auto;
    }
}

/* game-library*/
.new-games,
.fav-games {
    min-height: auto;
}

/*Extra large devices (laptop, > 1200px and up)*/
@media screen and (min-width:1200px) {

    /* Make all service cards the same height for consistency*/
    .card-body {
        min-height: 220px;
    }

    /* game-library*/
    .new-games,
    .fav-games {
        min-height: 330px;
    }
}


/*Extra extra large devices (laptop, > 1400px and up)*/
@media screen and (min-width:1400px) {

    /* Make all service cards the same height for consistency*/
    .card-body {
        min-height: 195px;
    }

    /* game-library*/
    .new-games,
    .fav-games {
        min-height: 320px;
    }
    #events.table {
    max-width: 700px;
    margin: 0 auto;
  }
}
